:root {
    --gray-200: #e9ecef;
    --gray-800: #343a40;
    --dark: #212529;
    --default-height: 70vh;
  }

body{
    margin: 0;
    padding: 0;
    background-color: var(--gray-200);
}

i {
    font-size: larger;
}

#about a {
    transition: 1s;
}

#about a:hover {
    background-color: var(--gray-200);
}

#skill a {
    transition: 1s;
    border-left: 4px solid transparent;
}

#skill a:hover {
    border-left: 4px solid var(--gray-800);
}

#about, #project, #skill {
    min-height: var(--default-height);
}

#about p, #project p, #skill p {
    font-weight: 550;
}

.name{
    border-bottom: 2px solid var(--dark);
}