<div id="skill" class="container d-flex flex-column aligm-items-center my-5 shadow-lg bg-light">
    <h2 class="text-center my-4">Habilidades técnicas</h2>

    <form class="row m-auto" action="{% url 'search_skill' %}">
        {% for key, type_display, type_button in skill_choices %}
        <button class="col {{type_button}} mx-5 my-2" name="skill" value="{{key}}"><b>{{type_display}}</b></button>
        {% endfor %}
        <button class="col btn btn-dark btn-sm mx-5 my-2" name="skill" value="ALL"><b>Todos</b></button>
    </form>

    <div class="row mx-5 mt-5">
        {% for skill in skills %}
        <div class="col col-3 m-2 card" style="width: 17rem;">
            <img src="{{skill.image.url}}" class="card-img-top img-thumbnail border border-0" alt="{{skill.title}}">
            <div class="card-body">
                <div class="d-flex flex-column mb-3">
                    <h5 class="card-title text-center">{{skill.title}}
                    </h5>
                    <span class="{{skill.skill_type_span}}">{{skill.get_type_display}}</span>
                </div>
                {% for s_link in skill.s_links.all %}
                <a class="link-underline link-underline-opacity-0 mb-2 ps-2 row" href="{{ s_link.link.url }}"
                    target="_blank">
                    <i class="col-2 {{s_link.link.link_type_icon}} m-auto p-1 btn btn-dark"></i>
                    <p class="col-10 text-dark m-auto">{{s_link.link.name}}</p>
                </a>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>